.slide {
    width: 92vw;
    height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 1280vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
.one {
    background: #efdefe;
    background-image: url("scene-1.png");
    background-size: cover;
}
.two {
    background: #a3f3d3;
    background-image: url("scene-2.png");
    background-size: cover;
}
.three {
    background: #0bbaa0;
    background-image: url("scene-3.png");
    background-size: cover;
}
.four {
    background: #00dfdf;
    background-image: url("scene-4.png");
    background-size: cover;
}
.five {
  background: #00dfdf;
  background-image: url("scene-5.png");
  background-size: cover;
}
.six {
  background: #00dfdf;
  background-image: url("scene-6.png");
  background-size: cover;
}
.seven {
  background: #00dfdf;
  background-image: url("scene-7.png");
  background-size: cover;
}
.eight {
  background: #00dfdf;
  background-image: url("scene-8.png");
  background-size: cover;
}
.nine {
  background: #00dfdf;
  background-image: url("scene-9.png");
  background-size: cover;
}
.ten {
  background: #00dfdf;
  background-image: url("scene-10.png");
  background-size: cover;
}
.eleven {
  background: #00dfdf;
  background-image: url("scene-11.png");
  background-size: cover;
}
.twelve {
  background: #00dfdf;
  background-image: url("scene-12.png");
  background-size: cover;
}
.thirteen {
  background: #00dfdf;
  background-image: url("scene-13.png");
  background-size: cover;
}
.fourteen {
  background: #00dfdf;
  background-image: url("scene-14.png");
  background-size: cover;
}
#character{
    background-image: url("annie_stand.png");
    background-size: cover;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 40%;
    top: 58%;
    visibility: visible;
}
.animate_jump{
    animation: jump 500ms, walk 500ms;
}
.animate_walk{
    animation: walk 500ms;
}
.animate_walk_bw{
  animation: walk_backwards 500ms;
}
@keyframes jump{
    0%{top: 50%; background-image: url('mini_me.gif');}
    30%{top: 50px;}
    70%{top: 50px;}
    100%{top: 75px; background-image: url('mini_me.gif');}
}
@keyframes walk{
    0%{background-image: url('mini_me.gif');}
    100%{background-image: url('mini_me.gif');}
}
@keyframes walk_backwards{
  0%{background-image: url('mini_me_bw.gif'); }
  100%{background-image: url('mini_me_bw.gif');}
}
#surfer{
  background-image: url("surfer.png");
  background-size: cover;
  width: 350px;
  height: 350px;
  position: absolute;
  left: 40%;
  top: 53%;
  visibility: hidden;
}
.animate_surf{
  animation: surf 500ms;
}
.animate_surf_bw{
animation: surf_backwards 500ms;
}
@keyframes surf{
  0%{background-image: url('surfer-walk.gif');}
  100%{background-image: url('surfer-walk.gif');}
}
@keyframes surf_backwards{
  0%{background-image: url('surfer-walk-bw.gif');}
  100%{background-image: url('surfer-walk-bw.gif');}
}
#space-annie{
  background-image: url("spacy.gif");
  background-size: cover;
  width: 350px;
  height: 350px;
  position: absolute;
  left: 40%;
  top: 35%;
  visibility: hidden;
}
#skater{
  background-image: url("skater.png");
  background-size: cover;
  width: 220px;
  height: 280px;
  position: absolute;
  left: 45%;
  top: 57%;
  visibility: hidden;
}
#sail-annie{
  background-image: url("sail-annie.png");
  background-size: cover;
  width: 600px;
  height: 600px;
  position: absolute;
  left: 30%;
  top: 15%;
  visibility: hidden;
}
#boat{
  background-image: url("boat.png");
  background-size: cover;
  width: 600px;
  height: 600px;
  position: absolute;
  left: 71.5%;
  top: 15%;
  visibility: hidden;
}
#winter-annie{
  background-image: url("winter-annie.png");
  background-size: cover;
  width: 240px;
  height: 280px;
  position: absolute;
  top: 50%;
  left: 96%;
  visibility: hidden;
}
button{
  background-color: transparent;
  color: transparent;
  height: 50px;
  width: 300px;
  border-radius: 50px;
  border-color: transparent;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 96%;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
button:hover{
  color: transparent;
}
#content-27{
  background-image: url("content-27.png");
  background-size: cover;
  width: 220px;
  height: 150px;
  position: absolute;
  left: 55.55%;
  top: 29.5%;
  visibility: hidden;
}
.animate_appear27{
  animation: appear-27 500ms;
}
@keyframes appear-27{
  0%{top: 0;}
  100%{top: 26.5%;}
}
#content-28{
  background-image: url("content-28.png");
  background-size: cover;
  width: 250px;
  height: 200px;
  position: absolute;
  left: 59.15%;
  top: 26%;
  visibility: hidden;
}
.animate_appear28{
  animation: appear-28 500ms;
}
@keyframes appear-28{
  0%{top: 0;}
  100%{top: 23%;}
}
#content-29{
  background-image: url("content-29.png");
  background-size: cover;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 62.8%;
  top: 26%;
  visibility: hidden;
}
.animate_appear29{
  animation: appear-29 500ms;
}
@keyframes appear-29{
  0%{top: 0;}
  100%{top: 23%;}
}
#content-30{
  background-image: url("content-30.png");
  background-size: cover;
  width: 350px;
  height: 225px;
  position: absolute;
  left: 41.6%;
  top: 30%;
  visibility: hidden;
}
.animate_appear30{
  animation: appear-30 500ms;
}
@keyframes appear-30{
  0%{top: 0;}
  100%{top: 30%;}
}
#content-31{
  background-image: url("content-31.png");
  background-size: cover;
  width: 320px;
  height: 130px;
  position: absolute;
  left: 48.5%;
  top: 40%;
  visibility: hidden;
}
.animate_appear31{
  animation: appear-31 500ms;
}
@keyframes appear-31{
  0%{top: 0;}
  100%{top: 40%;}
}
#content-32{
  background-image: url("content-32.png");
  background-size: cover;
  width: 325px;
  height: 225px;
  position: absolute;
  left: 34.7%;
  top: 30%;
  visibility: hidden;
}
.animate_appear32{
  animation: appear-32 500ms;
}
@keyframes appear-32{
  0%{top: 0;}
  100%{top: 30%;}
}
#content-36{
  background-image: url("content-36.png");
  background-size: cover;
  width: 270px;
  height: 225px;
  position: absolute;
  left: 81%;
  top: 45%;
  visibility: visible;
}
#content-37{
  background-image: url("content-37.png");
  background-size: cover;
  width: 270px;
  height: 225px;
  position: absolute;
  left: 87.5%;
  top: 42%;
  visibility: visible;
}
#content-38{
  background-image: url("content-38.png");
  background-size: cover;
  width: 270px;
  height: 120px;
  position: absolute;
  left: 75%;
  top: 40%;
  visibility: visible;
}
#content-33{
  background-image: url("content-33.png");
  background-size: cover;
  width: 270px;
  height: 170px;
  position: absolute;
  left: 77.9%;
  top: 30%;
  visibility: hidden;
}
.animate_appear33{
  animation: appear-33 500ms;
}
@keyframes appear-33{
  0%{top: 0;}
  100%{top: 30%;}
}
#content-34{
  background-image: url("content-34.png");
  background-size: cover;
  width: 270px;
  height: 130px;
  position: absolute;
  left: 84.3%;
  top: 30%;
  visibility: hidden;
}
.animate_appear34{
  animation: appear-34 500ms;
}
@keyframes appear-34{
  0%{top: 0;}
  100%{top: 30%;}
}
#content-35{
  background-image: url("content-35.png");
  background-size: cover;
  width: 270px;
  height: 150px;
  position: absolute;
  left: 90.5%;
  top: 30%;
  visibility: hidden;
}
.animate_appear35{
  animation: appear-35 500ms;
}
@keyframes appear-35{
  0%{top: 0;}
  100%{top: 30%;}
}
#directions{
  background-image: url("directions.png");
  background-size: cover;
  width: 270px;
  height: 85px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  visibility: visible;
}